.App-container{
    width: 100vw;
    height: 120vh;
    background: url(../Asset/background/appBack.jpg);
    background-size: cover;

    position: relative;

    img{
        width: 200px;
        height: 50px;
        margin-right: 20px;
    }
}

.downArea{
    position: absolute;
    bottom: 200px;
    left: 10%;
}

@media screen and (max-width: 767px) {
    .App-container{
        height: 120vh;
        background: url(../Asset/background/mobile.png) no-repeat 40% 100%;
        background-size: cover;

        img{
            width: 140px;
            height: 40px;
        }
    }
    .downArea{
        bottom: 10px;
        left: 12%;
    }
}
