@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


a{text-decoration: none;}
li{list-style: none;}

.Header-container {
    width: 100vw;
    height: 115px;
    opacity: 0.451;
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0px;
    z-index: 2;
}

.QvingLogo {
    position: absolute;
    top: 10px;
    left: 10px;
}
.FollowBtn span {
    text-decoration: none;
    color: white;
    padding: 2px 30px;
    border-right: 1px solid white;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Angled Pen40";
    text-align: center;
    cursor: pointer;
}
.FollowBtn span:hover{
    color: green;
}

.FollowBtn span:last-child {
    border: none;
}

@media screen and (max-width: 767px) {
    .Header-container {
        width: 100vw;
        height: 115px;
        opacity: 0.451;
        background-color: #000000;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        flex-direction: column;
        top: 0px;
        z-index: 10;
    }

    .QvingLogo {
        position : relative;
    }

    .FollowBtn span {
        text-decoration: none;
        color: white;
        padding: 0px 2px;
        border-right: 1px solid white;
        font-size: 12px;
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Angled Pen40";
        text-align: center;
    }
}