@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

:root{
    --white : white
}
.body{
    position: relative;
}
.section1-container {
    width: 100vw;
    height: 100vh;
    background: url(../Asset/background/section1-bg.png) no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    padding-top: 100px;
    z-index: 1;

}

.section1-title-img{
    text-align: center;
    z-index: 1;
    /* background-color: red; */
}

.section1-title {
    margin-bottom: 40px;
}

.section1-title .one {
    font-size: 42px;
    text-transform: uppercase;
    color: #beeeb6;
    font-family: 'Jua', sans-serif;
    text-align: center;
    /* font-weight: bold; */
}

.section1-title .two {
    font-size: 60px;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Jua', sans-serif;
    text-align: center;
    font-weight: bold;
}

.section1-detail{
    width: 100vw;
    height: 412px;
    background-color: #e2b76d;

    position: absolute;
    bottom: -240px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -10;
}

.section1-detail p{
    color: var(--white);
    font-size: 1.5em;
    margin: 15px;
    font-family: 'Nanum Brush Script', cursive;
}
.position{
    position: absolute;
}
.detail-img1{
    top: 5%;
    left: 25%;
}
.detail-img2{
    top : 0;
    right: 25%;
}
.detail-img3{
    top : 50%;
    right: 27%;
}

.inquiry{
    position: absolute;
    top: 10%;
    right: 5%;

    display: flex;
    flex-direction: column;
    z-index: 10;
}

@media screen and (max-width: 767px) {
    .section1-title-img{
        width: 100wv;
    }
    .section1-title {
        width: 100vw;
        margin-bottom: 60px;
    }
    
    .section1-title .one {
        width: 100vw;
        font-size: 20px;
        text-transform: uppercase;
        color: #beeeb6;
        font-family: 'Jua', sans-serif;
        text-align: center;
    }
    
    .section1-title .two {
        width: 100vw;
        font-size: 35px;
        text-transform: uppercase;
        color: var(--white);
        font-family: 'Jua', sans-serif;
        text-align: center;
        font-weight: bold;
    }
    .section1-img{
        width: 100vw;
        /* border: 1px solid red; */
    }
    .section1-img img{
        width: 200px;
    }
    .section1-detail{
        width: 100vw;
    }
    .section1-detail div img{
        width: 100px;
    }

    .position{
        position: absolute;
        z-index: -1;
        width: 100px;
    }
    .detail-img1{
        top: 15%;
        left: 5%;
    }
    .detail-img2{
        top : 20%;
        right: 5%;
    }
    .detail-img3{
        top : 60%;
        right: 10%;
    }
    .inquiry{
        position: absolute;

        top: 100px;
    
        display: flex;
        flex-direction: column;
        z-index: 999;
    }
    .inquiry a img{
        width: 50px;
    }
}
