.section3-container {
    width: 100vw;
    height: 735px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.itemBox {
    width: 885px;
    height: 340px;

    margin-top: 20px;
    background: url(../Asset/Image/itemBox.png);
    background-size: cover;
}

.section3-container ul {
    width: 885px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    /* border: 1px solid red; */
}

.submenu {
    width: 205px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s;
    background: url(../Asset/Image/tapMenu_off.png) no-repeat;
}

.focused {
    transform: rotate(10deg);
    transition: all 1s;
    background: url(../Asset/Image/tapMenu_on.png) no-repeat;

}

.section3-container .position {
    position: absolute;
}

.ball_1 {
    top: 100px;
    left: 350px;
}

.ball_2 {
    top: 300px;
    left: 170px;
}

.ball_3 {
    bottom: 50px;
    left: 280px;
}

.ball_4 {
    top: 70px;
    right: 350px;
}

.ball_5 {
    top: 300px;
    right: 170px;
}
.glove{
    bottom: 50px;
    right: 280px;
}


/* -------------card----------- */
/* ----------------------------- */

