@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


.section2-container {
    width: 100vw;
    padding-bottom: 50px;
    background: url(../Asset/background/section2-bg.png);

    margin-top: 180px;
    z-index: -10;
}

.form-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section2-bubble {
    margin-top: 100px;
    width: 510px;
    height: 150px;
    font-size: 40px;
    padding: 30px 0px;
    text-transform: uppercase;
    color: #2b5a35;
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    background: url(../Asset/Image/speechBubble.png) no-repeat;
    margin-bottom: 50px;
}

.section2-search{
    background-color: white;
    width: 40vw;
    height: 40px;
    margin-bottom: 50px;
}
.kakao-map{
    width: 50vw;
    height: 400px;
    background-color: wheat;
}
.section2-slide{
    margin-top: 50px;
}

.section2-slide img{
    width: 200px;
    height: 300px;
}
.slider-style{
    text-align: center;
}
.slider-style img{
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
    .section2-bubble {
        width: 260px;
        height: 80px;
        padding: 3px 0px;
        font-size: 20px;
        background-size: cover;
        margin-bottom: 50px;
    }
    .section2-search{
        background-color: white;
        width: 95vw;
        height: 40px;
        margin-bottom: 50px;
    }
    .kakao-map{
        width: 95vw;
        height: 400px;
        background-color: wheat;
    }
    .slider-style img{
        margin: 0 auto;
    }
}