.section7-container {
    width: 100vw;
    height: auto;
    background: url(../Asset/background/section7.png);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 100px;
}

.install-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 50px;
}

.install-header img:first-child {
    margin-bottom: 20px;
}

.install-area {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.install-area form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.install-area label {
    width: 100px;
    margin-right: 20px;
    color: white;
}

.install-area input {
    width: 440px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.inputText {
    color: red;
    font-weight: bold;
    margin-left: 200px;
    margin-bottom: 10px;
}

.install-area button {
    border: none;
    background-color: transparent;
    margin-top: 20px;
}

.input-style {
    padding-bottom: 210px;
}

.install-area textarea {
    border-radius: 15px;
    padding: 5px 0px 0px 5px;
}

.event-style {
    margin-left: 150px;
    margin: 5px 0px;
}

.btnStyle {
    cursor: pointer;
}

.acodionBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.eventArea {
    width: 60vw;
    height: auto;
    background-color: transparent;
    margin: 20px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 10px;
}
.eventCard{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
}
.event-active{
    display: inherit;
    transition: all 2s;
}
.event-not-active{
    display: none;
    transition: all 2s;
}

.eventImg {
    width: 30%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventImg img {
    width: 100%;
}

.eventText {
    width: 60%;
    height: 100%;
}

.eventText h2 {
    color:#886831 ;
    text-align: center;
    border-bottom: 1px solid #886831;
}
.eventText {
    color:  red;
    height: 50%;
    margin-top: 10px;
}
.contentTxt{
    text-overflow: ellipsis;  
	overflow : hidden;
	display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
}
.contentTxt img{
    display: none;
}
.eventText button{
    background-color: transparent;
    border: none;
    text-align: right;
    cursor: pointer;
    margin-top: 15px;
}
.eventText button img{
    width: 150px;
}

@media screen and (max-width: 767px) {
    .install-header img:first-child {
        margin-bottom: 20px;
    }
    .install-header img:last-child {
        width: 250px;
    }
    .install-area {
       margin: 100px 0px;
    }

    .install-area input {
        width: 50vw;
        height: 40px;
        padding-left: 10px;
        margin-bottom: 15px;
        border-radius: 15px;
    }

    .install-area textarea {
        width: 50vw;
    }

    .event-style img {
        width: 80vw;
    }
    .eventArea {
        width: 80vw;
    }
    .inputText {
        color: red;
        font-weight: bold;
        margin-left: 200px;
        margin-bottom: 10px;
        font-size: 13px;
    }
}

@media screen and (max-width : 375px) {
    .install-area label img {
        width: 100px;
    }
    .install-area input {
        font-size: 10px;
    }

    .install-area textarea {
        font-size: 10px;
        height: 225px;
    }
    .inputText {
        color: red;
        font-weight: bold;
        margin-left: 120px;
        margin-bottom: 10px;
        font-size: 11px;
    }
}