.section3-container {
    width: 100vw;
    height: 735px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    ul{
        width: 885px;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
    }

    .position{
        position: absolute;
        z-index: -1;
    }
}

.itemBox {
    width: 885px;
    height: 340px;

    margin-top: 20px;
    background: url(../Asset/Image/itemBox.png) no-repeat;
    background-size: cover;
}

.submenu {
    width: 205px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s;
    background: url(../Asset/Image/tapMenu_off.png) no-repeat;
}

.focused {
    transform: rotate(10deg);
    transition: all 1s;
    background: url(../Asset/Image/tapMenu_on.png) no-repeat;
}


.ball_1 {
    top: 100px;
    left: 350px;
}

.ball_2 {
    top: 300px;
    left: 170px;
}

.ball_3 {
    bottom: 50px;
    left: 280px;
}

.ball_4 {
    top: 70px;
    right: 350px;
}

.ball_5 {
    top: 300px;
    right: 170px;
}

.glove {
    bottom: 50px;
    right: 280px;
}


@media screen and (max-width: 767px) {
    .section3-container {
        height: 350px;
        >img{
            width: 90vw;
        }
        ul{
            width: 90vw;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 50px;

            img{
                width: 30px;
            }
        }

        .position {
            position: absolute;
            width: 30px;
        }
    }

    .submenu {
        width: 80px;
        height: 20px;
        font-size: 10px;
        background-size: cover;
    }
    .focused {
        width: 80px;
        height: 20px;
        font-size: 10px;
        background-size: contain;
        
        
    }
    .itemBox {
        width: 290px;
        height: 115px;
        background-size: contain;

        img{
            width: 80%;
        }
    }
    
    .ball_1 {
        top: 100px;
        left: 120px;
    }
    
    .ball_2 {
        top: 120px;
        left: 40px;
    }
    
    .ball_3 {
        top: 300px;
        left: 20px;
    }
    
    .ball_4 {
        top: 120px;
        right: 50px;
    }
    
    .ball_5 {
        top: 300px;
        right: 40px;
    }
    
    .glove {
        top: 300px;
        right: 150px;
    }
}